<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<main id="site-main">
    <div class="container">
        <a href="/" class="border-shadow">
            <span id="home" class="text-gradient"><i class="fas fa-angle-double-left"></i>Go Back To Home </span>
        </a>
    </div>
    <div class="container">
        <p id="unauthorized">YOU ARE NOT AUTHORIZED TO VIEW THIS PAGE</p>
    </div>
</main>

<!--include footer -->
<%- include('include/_footer') %>
<!--include footer -->