<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>Home Page</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Teacher Login</h2>
            <span class="text-light">Please login with your Email id and password</span>
        </div>
        
    <form method="POST" id="teacher_login">
        <div class="new_result">
            <div class="form-group">
                <label for="Email id" class="text-light">Email Id</label>
                <input type="text" name="email" required class="form-control" placeholder="Enter Email" minlength="4" maxlength="20">
            </div>
            <div class="form-group">
                <label for="Password" class="text-light">Password</label>
                <input type="text" name="password" required class="form-control" placeholder="Enter Password" minlength="4" maxlength="12">
            </div>
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Submit</button>
            </div>
        </div>
    </form>
    </div>
</main>

<!--include footer -->
<%- include('include/_footer') %>
<!--include footer -->